$primary-color: red;
body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, sans-serif;
  min-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  color: $primary-color;
}
